.bkground{
	background: url(../images/bttfclock.jpg);
	font-family: 'Baloo Paaji 2', cursive;
	background-size: 120px 100px;
	height: 400px;	
}


#startBtn,.startOverBtn{
	background-color: red ;
	color: white;
	font-family: 'Baloo Paaji 2', cursive;
	font-size: 30px;
	margin-top: 120px;
	opacity: 100%;
	width: 400px;
}


.startOverBtn:hover{
	background-color: red ;
	color: white;
	font-family: 'Baloo Paaji 2', cursive;
	font-size: 30px;	
	opacity: 100%;
	
}

.question {
	color:red;
}




.container{
	font-family: 'Baloo Paaji 2', cursive;
	font-size: 30px;	
	text-align: center;
	background-color: darkblue;
    background-position: center;
    opacity: 90%;
	width: 800px;  	
    height: 350px;
	color: yellow;	
}

#message, #finalMessage{
	font-family: 'Baloo Paaji 2', cursive;
	font-size: xx-large;
	color: red;	
	margin-top: 20px;
}

.thisChoice:hover{
	background-color:lightblue;
	color: blue;	

}







